@media (max-width: 760px){
    //Navbar
    .container-fluid{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .navbar__logo{
            width: 90px;
            height: 50%;
        }

        .navbarNav{
            height: 0;
            overflow: hidden;
            text-align: center;    
            width: 100%;
            transition: all .3s;
            .navbar-nav{
                height: 100%;
            }
        }

        .input-check{
            display: none;
        }

        .input-check:checked + .navbarNav{
            
            height: 100%;
        }
    }
    
    // Index
    .content-index{
        grid-template-areas: 
            "prod"
            "info" !important;
        grid-template-columns: 
            5fr !important;


        .content__info{
            grid-area: info;
            margin: 10px;
        }
        .content__prod{
            grid-area: prod;
            justify-items: center;
            

            .card{
                width: 18rem !important;
                
                .card__img{
                    height: 18rem;
                }
            }
        }
    }

    // Catering
    .catering-content__info{
        flex-direction: column !important;

        .content-info{
            text-align: center;
            padding: 10px !important;
        }

        .content-img{
            width: 100% !important;
            height: 80% !important;
            margin: 5px;
        }

    }

    //Contact
    .contact-content{
        .contact-content__data{
            .info__data{
                img{
                        width: 10% !important;
                        height: 10% !important;
                    }
            }
        }
    }
    

    // Presale
    .presale-content__info{
        flex-direction: column;

        .content-info{
            width: 100% !important;
            .info__data{
                img{
                    width: 10% !important;
                    height: 10% !important;
                }
            }
        }
        .form-row {
            flex-direction: column;
        }
    }
    
    // Review
    .card{
        margin: 10px !important;
        text-align: center;

        .cards__img{
            width: 50% !important;
            height: 100% !important;
        }
    }
    
}
@media (min-width: 761px) and (max-width: 1079px){
    //Navbar
    .container-fluid{
        flex-direction:row;

        .label_hamb, .input-check{
            display: none;
        }

        .navbar__logo{
            width: 90px;
            height: 50%;
        }

        .navbarNav{
            text-align: center;
            .navbar-nav{
                flex-direction: row;
                .nav-item{
                    padding: 10px;
                }
            }
        }
    }

    // Presale
    .presale-content__info{
        flex-direction: column;

        .content-info{
            width: 100% !important;
            .info__data{
                img{
                    width: 5% !important;
                    height: 5% !important;
                }
            }
        }
    }
}
@media (min-width: 1080px){
    .container-fluid{
        flex-direction:row;

        .label_hamb, .input-check{
            display: none;
        }
    }
}