body{
    margin: 0;
    background-color: #fffcf6 !important;
    font-family: "Montserrat", sans-serif !important;
}
.content{
    display: grid;
    grid-template-areas: 
        "prod info";
    grid-template-columns: 
        3fr 1fr;
    align-items: start; /* para evitar estiramiento desigual */
}
.content__info{
    grid-area: info;
    margin: 10px;
}
.content__prod{
    grid-area: prod;
    margin: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 10px;
}
.card{
    margin: 5px;
    text-align: center;
    border: none !important;
    background-color: rgb(252, 244, 230) !important;
}
.card__img{
    width: 99%;
    height: 15rem;
    margin: 2px;
    border-radius: 5px;
}
.info-order{
    display: flex;
    flex-direction: column;
}
.info-order__text{
    margin: 10px;
}

@media (min-width: 340px) and (max-width: 780px){
    .content{
        grid-template-areas: 
            "prod"
            "info";
        grid-template-columns: 
            5fr;
    }
    .content__prod{
        justify-items: center;
    }
    .card{
        width: 18rem !important;
    }
    .card__img{
        height: 18rem;
    }
}