.navbar {
    margin: 2px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#BF40BF, #800080);
}
.navbar__logo{
    width: 150px;
    height: 50%;
}
.nav-link{
    color: #ffffff !important;
}

@media (min-width:360px) and (max-width: 768px) {
    .navbar__logo{
        width: 90px;
        height: 50%;
    }
}